language: php

php:
- 7.2
- nightly

matrix:
  fast_finish: true
  allow_failures:
  - php: nightly

sudo: false

before_install:
- travis_retry composer self-update

install:
- travis_retry composer require --no-update satooshi/php-coveralls:^1.0
- travis_retry composer install --no-interaction --prefer-source

before_script:
- mkdir -p var/logs

script:
- ./bin/parallel-lint src tests
- travis_retry composer test:php:cover
- travis_retry composer cgl

after_success:
- travis_retry php bin/coveralls
